---
import BlogPost from "../../components/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";
import formatDate from "../../utils/date";

const backendUrl = import.meta.env.SECRET_BACKEND;

const response = await fetch(backendUrl + "getAllPosts");
const data = await response.json();
---

<Layout>
  <main>
    <!-- {
      data.map((rec) => {
        return <pre>{JSON.stringify(rec, null, 4)}</pre>;
      })
    } -->
    {data.map((rec, index) => <BlogPost post={rec} />)}
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    min-height: 200vh;
  }

  h1 {
    margin: 0;
  }

  a {
    transition: text-shadow 0.5s ease;
  }
  a:hover {
    text-shadow: 2px 2px 10px rgba(251, 255, 0, 0.505);
  }
</style>