---
import Layout from "../layouts/Layout.astro";
import formatDate from "../utils/date";

const backendUrl = import.meta.env.SECRET_BACKEND;

const response = await fetch(backendUrl + "getAllPosts");
const data = await response.json();
---

<Layout>
  <main>
    <!-- {
      data.map((rec) => {
        return <pre>{JSON.stringify(rec, null, 4)}</pre>;
      })
    } -->
    {
      data.map((rec, index) => (
        <>
          <span class="text-xl text-center dark:text-orange-400 text-gray-900 inset-x-1 inset-y-0 text-shadow-lg font-bold py-2 px-4">
            {formatDate(rec.created_at)}
          </span>

          <article
            class="rounded-lg shadow-2xl bg-orange-100 dark:bg-gray-800 px-4 py-6 my-4 transition duration-300 hover:shadow-lg"
            set:html={rec.content}
          />
        </>
      ))
    }
    <aside class="flex lg:flex-row flex-col p-8">
      <p class="py-4 text-3sm">
        visit my <a
          class="text-blue-600 underline"
          target="_blank"
          href="https://t.me/webrefs">telegram channel</a
        >, <a
          class="text-blue-600 underline"
          target="_blank"
          href="https:/qualityvoid.ru"
        >
          Quality VOID
        </a> company page
      </p>
    </aside>

    <style>
      main {
        margin: auto;
        padding: 1.5rem;
        min-height: 200vh;
      }

      h1 {
        margin: 0;
      }
      a {
        transition: text-shadow 0.5s ease;
      }
      a:hover {
        text-shadow: 2px 2px 10px rgba(251, 255, 0, 0.505);
      }
    </style>
  </main>
</Layout>
