

<main >
    <a href="mailto:threegoeseasy@gmail.com">threegoeseasy@gmail.com</a>
    <a href={'https://t.me/qualityoriented'}>
         telegram
    </a>
 
        <a href="/" style={{ color: 'orange' }}>Home</a>
      
  </main>