---
import Windows95App from "../components/Windows95app";
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "@astrojs/image/components";

const backendUrl = import.meta.env.SECRET_BACKEND;
const imgFolder = "uploads/";

const response = await fetch(backendUrl + "getAllRecords");
const data = await response.json();
---

<Layout>
  <main>
    <nav class="flex lg:flex-row flex-col p-8">
      <div>
        <h1 class="text-5xl pb-4">
          If excellence is a diamond, its facets are technologies, whose
          intersections produce tips, that carve solutions into our black glass.
        </h1>
        <!-- <nav
          class="flex my-4 flex-col items-start gap-2 text-xl text-purple-700"
        >
          <a href="about">about</a>
        </nav> -->
      </div>

      <a
        class="min-w-[50%] py-4 dark:opacity-40"
        id="mail"
        href="mailto:threegoeseasy@gmail.com"
      >
        <Image src="/dvd.png" height={328} alt="email" width={594} /></a
      >
    </nav>

    <h2 class="py-4 text-3xl">
      view <a
        class="text-blue-600 underline"
        target="_blank"
        href="https://drive.google.com/file/d/12mg8Ox0Usvhp8m5h5mmFx3S6m6nyB1mv/view?usp=sharing"
        >CV.pdf</a
      >
    </h2>
    <div class="flex flex-col">
      {
        data.map((rec) => {
          return (
            <Windows95App
              client:idle
              icon={backendUrl + imgFolder + rec.image}
              title={rec.title}
              className="mb-16"
              description={rec.description}
            >
              <iframe title={rec.title} allowfullscreen src={rec.link} />
            </Windows95App>
          );
        })
      }
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    min-height: 200vh;
  }

  #mail {
    cursor: url(/mail.png), pointer;
  }

  h1 {
    margin: 0;
  }
  a {
    transition: text-shadow 0.5s ease;
  }
  a:hover {
  }
</style>
