---
import Windows95App from "../components/Windows95app";
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<Layout>
  <main>
    <nav class="flex lg:flex-row flex-col p-8">
      <div>
        <h1 class="text-5xl pb-4">
          If excellence is a diamond, its facets are technologies, whose
          intersections produce tips, that carve solutions into our black glass.
        </h1>
        <!-- <nav
          class="flex my-4 flex-col items-start gap-2 text-xl text-purple-700"
        >
          <a href="about">about</a>
        </nav> -->
      </div>

      <a
        class="min-w-[50%] py-4 dark:opacity-40"
        id="mail"
        href="mailto:threegoeseasy@gmail.com"
      >
        <Image src="/dvd.png" height={328} alt="email" width={594} /></a
      >
    </nav>

    <h2 class="py-4 text-3xl">
      view <a
        class="text-blue-600 underline"
        target="_blank"
        href="https://drive.google.com/file/d/12mg8Ox0Usvhp8m5h5mmFx3S6m6nyB1mv/view?usp=sharing"
        >CV.pdf</a
      >
    </h2>

    <p class="py-4 text-3xl">
      visit my <a
        class="text-blue-600 underline"
        target="_blank"
        href="https://t.me/webrefs">telegram channel</a
      >, full blog and gallery will arrive soon, website works will be available
      on company page
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    min-height: 200vh;
  }

  #mail {
    cursor: url(/mail.png), pointer;
  }

  h1 {
    margin: 0;
  }
  a {
    transition: text-shadow 0.5s ease;
  }
  a:hover {
  }
</style>
