---
import Windows95App from "../components/Windows95app";
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <nav class="flex flex-row p-8">
      <h1>
        If excellence is a diamond, its facets are technologies, whose
        intersections produce tips, that carve solutions into our black glass.
      </h1>
      <Image src="/dvd.png" height={328} alt="email" width={594} />
    </nav>

    <Windows95App client:load icon="/package-box.svg" title="TSCA">
      <iframe title="TSCA" allowfullscreen src="https://tsca.online/"></iframe>
    </Windows95App>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
  }
  h1 {
    font-size: 3rem;
    margin: 0;
  }
</style>
