
.root {
    font-family: "Courier", monospace, sans-serif;
    font-size: 12px;
    line-height: 1.5rem;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    z-index: 30;
}

.upperPanel {
    background-color: #020c7e;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #c0c0c0;
    height: 30px;
    align-items: center;
    position: relative;
}

.control {
    font-size: 18px;
    padding: 0 10px;
    height: 100%}

.control:hover {
    background-color: #919090;

}


.icon {
    display: flex;
    z-index: 2;
}

.portal {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 480px;
    height: 360px;
    background-color: rgb(145, 144, 144);
    z-index: 999999;
    justify-content: start;
    align-items: flex-start;

}
